.logo{
    margin: 30px;
}

.column {
    border: solid 2px #ce72e0
}

.section.is-medium {
    padding: 2rem 4rem;
}

.quote {
    font-size: 1.7rem;
    font-weight: 200;
    text-align: center;
}

.addButton {
    width: 25vw
}

#ingredientList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex: auto;
    margin: 5px;
    max-width: max-content;
}

#drinkList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
} 

#clearList {
    margin: 20px 0px;
}

.small-logo{
    margin: 10px;
}

#drinkPic {
    max-height: 200px !important;
}

#gif {
    object-fit: contain;
}

.card {
    box-shadow: 0 0.5em 1em -0.125em rgba(206, 111, 206, .9), 0 0 0 1px rgba(206, 111, 206, 0.09);
    margin: 0% 4%;
}